.blank{
    background-color:FFFFFF;
}
.blank.mouse_over{
    background-color:0080FF;
}
.selecting{
    background-color:FFA500;
}
.selecting.mouse_over{
    background-color:FFA500;
    opacity:0.4;
}
.selected{
    background-color:808080;
}
.head_block{
    background-color:#0080FF;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:50px;
}
.head_text_block{
    margin-top:0;
    margin-bottom:0;
    font-size:10px;
    color:#FCFCFC;
    margin-left:10%;
}
table{
    border:1px solid black;
    text-align:center;
    width:35%;
    margin:20px;
    float:left;
    margin-top:60px;
    margin-bottom:50px;
}
.blank_line{
    background-color:black;
}    
caption{
    font-weight:900;
    margin-bottom:10px;
}
.table_title_line{
    height:30px;
    background-color:#D8BFD8;
}
.data_line{
    background-color:#FFE4B5;
}